:root {
    --primary-color: #7e0606; 
    --secondary-color: #505050;
    --tertiary-color: #ffffff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body {
    color: var(--tertiary-color);
    font-family: 'Courier New', Courier, monospace;
    background-image: url("../gray-painted-background_53876-94041.jpg");
    background-position: center;
    background-size: 100%;

}